<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/20/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="column wrap" class="main-content font-white">
  <mat-card-title style="text-align: center">
    Welcome to the About Us page!
  </mat-card-title>
  <div fxFlex>
    <div fxLayout="row">
      <div>
        <h1>Overview</h1>
        <img
          src="./assets/Ravenclaw-House-PNG-Transparent-Image.png"
          height="120"
          alt="House Ravenclaw"
        />
        <em style="font-size: 9px"
          >Curtesy of https://www.pngmart.com/image/181069</em
        >
        <p>
          House Ravenclaw is one of the four houses at Hogwarts School of
          Witchcraft and Wizardry, known for its intelligence, wit, and wisdom.
          Students sorted into Ravenclaw are very knowledgeable and are among
          the smartest at Hogwarts. With these qualities who else but Ravenclaw
          students to best make an business called Loan App.
        </p>
        <p>
          Ravenclaw students are the best at critical thinking, and they have
          more intelligence than the rest of the students at other houses. They
          are simply the best and have made a platform that assists in loan
          applications and calculations. The Loan App has an advanced algorithm
          that is data driven to provide its clients with a helpful tool for
          financial solutions.
        </p>
        <p>
          Students in the House Ravenclaw value creativity and are very
          innovative. The Loan app helps access clients what their interest and
          monthly payments will be. This tool is created for a traditional
          financial model that is very accurate. This application streamlines
          the loan application.
        </p>
        <p>
          These Ravenclaw students have amazing problem-solving skills and are
          very creative thinkers. Their blend of intelligence and creativity
          helps Loan App be at the top of the tech world for loan calculations
          and will be able to adapt to the changing markets easily.
        </p>
        <p>
          With the creative wisdom of House Ravenclaw students, the Loan App
          will stand as an example of why House Ravenclaw is the greatest house
          in Hogwarts. Our students are nothing like that cheating Potter,
          Cedric is the true champion. We have created a loan calculator that
          even a Muggel can understand.
        </p>
      </div>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="row">
      <div>
        <h1 class="blue">Schedule</h1>
        <ul>
          <li>Monday: 8am-5pm</li>
          <li>Tuesday: 8am-5pm</li>
          <li>Wednesday: 8am-5pm</li>
          <li>Thursday: 8am-5pm</li>
          <li>Friday: 8am-5pm</li>
          <li>Saturday: 8:30am-12pm</li>
          <li>Sunday: Closed</li>
        </ul>
      </div>
    </div>
  </div>
</div>
