<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 6/20/23
    ; Description: This purpose of this assignment is create new navigation and layout based on flex layout and angular materials
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Course GitHub
    ========================================================================================================================
-->

<div fxLayout="column wrap" class="main-content font-white">
  <mat-card-title style="text-align: center">
    Welcome to the About Us page!
  </mat-card-title>
  <div fxFlex>
    <div fxLayout="row">
      <div>
        <h1>Overview</h1>
        <img
          src="./assets/Ravenclaw-House-PNG-Transparent-Image.png"
          height="120"
          alt="House Ravenclaw"
        />
        <em style="font-size: 9px"
          >Curtesy of https://www.pngmart.com/image/181069</em
        >
        <p>
          House Ravenclaw is one of the four houses at the renowned Hogwarts
          School of Witchcraft and Wizardry, known for its emphasis on
          intelligence, wit, and wisdom. Students sorted into Ravenclaw possess
          a deep thirst for knowledge and a sharp intellect, making them ideal
          candidates for the business world. Leveraging these qualities, a group
          of enterprising Ravenclaws has come together to form a groundbreaking
          venture called Loan App.
        </p>
        <p>
          Driven by their innate curiosity and analytical thinking, the members
          of House Ravenclaw have harnessed their intellectual prowess to
          develop a cutting-edge platform that revolutionizes the lending
          industry. Loan App utilizes advanced algorithms and data-driven
          strategies to provide efficient and reliable financial solutions for
          individuals and businesses alike.
        </p>
        <p>
          Drawing inspiration from the Ravenclaw values of creativity and
          innovation, Loan App introduces novel approaches to assessing
          creditworthiness and risk analysis. By combining traditional financial
          metrics with intelligent machine learning models, the platform can
          make accurate lending decisions with impressive speed and precision.
          This not only streamlines the loan application process but also
          enables borrowers to access the funds they need to pursue their dreams
          and ventures.
        </p>
        <p>
          In addition to their academic brilliance, Ravenclaws possess excellent
          problem-solving skills and a strong ability to think outside the box.
          This unique blend of intelligence and creativity ensures that Loan App
          remains at the forefront of technological advancements and adapts
          swiftly to changing market dynamics.
        </p>
        <p>
          With the collective wisdom of House Ravenclaw behind it, Loan App
          stands as a shining example of how intelligence and innovation can
          reshape industries. By leveraging their innate intellectual
          capabilities, the members of Ravenclaw have crafted a business that
          combines financial expertise with cutting-edge technology, empowering
          individuals and organizations to achieve their goals while fostering a
          culture of knowledge and wisdom.
        </p>
      </div>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="row">
      <div>
        <h1 class="blue">Schedule</h1>
        <ul>
          <li>Monday: 8am-5pm</li>
          <li>Tuesday: 8am-5pm</li>
          <li>Wednesday: 8am-5pm</li>
          <li>Thursday: 8am-5pm</li>
          <li>Friday: 8am-5pm</li>
          <li>Saturday: 8:30am-12pm</li>
          <li>Sunday: Closed</li>
        </ul>
      </div>
    </div>
  </div>
</div>
