<!--
    ========================================================================================================================
    ; Title: contact.component.html
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 7/14/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 5.1 - Navigation and Layout
    Angular Tutorial video https://www.youtube.com/watch?v=J2RHvuYFna4
    Angular Tutorial video https://www.youtube.com/watch?v=Wif3MsDN7Pg
    Course GitHub
    ========================================================================================================================
-->
<mat-card-title class="align-center font-white">
  Welcome to the Contact Us page!
</mat-card-title>
<div fxLayout="row wrap" class="main-content font-white">
  <div fxFlex>
    <mat-card-title class="card-title-icon align-center">
      <mat-icon class="brown">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>123 Main street</p>
      <p>Tiffin, Iowa</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon align-center">
      <mat-icon class="brown">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 234-456-7890</p>
      <p>Toll-free: 1-888-888-4444</p>
      <p>Fax: 234-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column" class="font-white">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Omaha
    metro area.
  </p>
</div>
