/*    ========================================================================================================================
    ; Title: app.component.scss
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 7/14/23
    ; Description: Capstone
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Exercise 7.2 Reactive Forms
    Angular Tutorial video https://www.youtube.com/watch?v=9AsogopS9YM
    Angular Tutorial video https://www.youtube.com/watch?v=OFBL4bKno_s
    Course GitHub
    ========================================================================================================================
 */

.title {
  text-align: center;
}

.toolbar {
  background-color: #0f1d4a;
  color: white;
  border-bottom: 5px solid #946b2d;
}
