<!--
    ========================================================================================================================
    ; Title: interest.component.ts
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date:  7/14/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Angular Tutorial video https://www.youtube.com/watch?v=9AsogopS9YM
    Course GitHub
    ========================================================================================================================
-->
<div>
  <div class="form-entry font-white">Interest Paid:</div>
  <br /><br /><br />
  <div class="form-entry font-white">
    {{ "$" + (interest | number : "1.2-2") }}
    <!-- 1.2-2 means it will use a minimum of one number behind the decimal up to 2 -->
  </div>
  <br /><br /><br />
</div>
