<!--
    ========================================================================================================================
    ; Title: payment.component.ts
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date:  7/14/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Angular Tutorial video https://www.youtube.com/watch?v=9AsogopS9YM
    Course GitHub
    ========================================================================================================================
-->
<div>
  <div class="form-entry font-white">Monthly Payment:</div>
  <br /><br /><br />
  <div class="form-entry font-white">Filler Text</div>
  <br /><br /><br />
</div>
