/*    ========================================================================================================================
    ; Title: styles.scss
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 7/14/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Exercise 7.2 Reactive Forms
    Angular Tutorial video https://www.youtube.com/watch?v=9AsogopS9YM
    Angular Tutorial video https://www.youtube.com/watch?v=OFBL4bKno_s
    Course GitHub
    ========================================================================================================================
 */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #223164;
}
.background-ltblue {
  background-color: #223164;
}

.background-blue {
  background-color: #0f1d4a;
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.font-white {
  color: white;
}

.brown {
  color: #946b2d;
}

.btn-brown {
  background-color: #946b2d;
  color: white;
  font-size: 22px;
}

input[type="text"],
textarea {
  background-color: #223164;
  height: 45px;
}
mat-label {
  color: white;
}

.form-entry {
  background-color: #0f1d4a;
  color: white;
}
