<!--
    ========================================================================================================================
    ; Title: home.component.ts
    ; Author: Shane Hingtgen
    ; Bellevue University
    ; Date: 7/14/23
    ; Description: Capstone
    ; Work Cited:
    Coding Guidelines
    Instructions - Exercise 6.3 Layouts
    Instruction - Assignment 6.4 Input Properties
    Instruction - Exercise 7.3 Form Validation
    Angular Tutorial video https://www.youtube.com/watch?v=9AsogopS9YM
    Course GitHub
    ========================================================================================================================
-->
<mat-card-title
  class="font-white"
  style="text-align: center; padding-bottom: 20px"
>
  Welcome to the Loan Application!

  <!-- error messages -->
  <!-- loan amount comma error -->
  <div *ngIf="form.amount.errors && form.amount.touched">
    <div class="error-message">Loan Amount cannot have commas!</div>
  </div>
  <!-- loan amount whole number years error -->
  <div *ngIf="form.years.errors && form.amount.touched">
    <div class="error-message">Years must be a whole number!</div>
  </div>
</mat-card-title>

<div fxLayout="row" fxLayoutGap="10" class="form-entry" style="font-size: 48px">
  <!-- An input form -->
  <div fxFlex="50%" class="loan-form">
    <mat-card class="form-entry font-white mat-elevation-z0">
      <!-- loan amount -->
      <mat-card-title>Loan Amount:</mat-card-title>
      <mat-card-content>
        <!-- set formGroup to loanData -->
        <form [formGroup]="loanData">
          <mat-form-field style="width: 500px">
            <mat-label>Loan Amount Ex: 5316.22</mat-label>
            <input
              type="text"
              name="amount"
              required
              id="amount"
              matInput
              formControlName="amount"
            />
          </mat-form-field>
          <!-- interest rate -->
          <mat-card-title>Interest Rate:</mat-card-title>
          <mat-form-field style="width: 500px">
            <mat-label>ex: 4.5</mat-label>
            <input
              type="text"
              name="interest"
              required
              id="interest"
              matInput
              formControlName="interest"
            />
          </mat-form-field>
          <!-- numbOfYears input -->
          <mat-card-title>Number of Years:</mat-card-title>
          <mat-form-field style="width: 500px">
            <mat-label>Years</mat-label>
            <input
              type="text"
              name="years"
              required
              id="years"
              matInput
              formControlName="years"
            />
          </mat-form-field>
          <br />
          <br />
          <!-- Button to calculate results -->
          <button
            mat-raised-button
            class="btn-brown"
            type="submit"
            [disabled]="!loanData.valid"
            style="width: 500px"
            (click)="calcResults()"
          >
            Submit
          </button>
          <br />
          <br />
          <!-- this button clears the loan form -->
          <button style="width: 500px" mat-button (click)="clearEntries()">
            Clear Form
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Results -->
  <div fxFlex="50%" class="loan-summary mat-elevation-z0">
    <mat-card class="form-entry font-white mat-elevation-z0">
      <mat-card-content>
        <!-- monthly payment displays -->
        <app-payment [payment]="payment" style="font-size: 48px"> </app-payment>
      </mat-card-content>
      <br />
      <br />
      <mat-card-content>
        <!-- interest paid displays -->
        <app-interest [interest]="interest" style="font-size: 48px">
        </app-interest>
      </mat-card-content>
    </mat-card>
  </div>
</div>
